<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../../assets/image/bg-1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h1><strong>Singapore Event Venues</strong></h1>
                <h3 class="mt-5">Search and book top event venues for rent in Singapore</h3>
                <div class="flight-engine">
                    <div class="tabing">
                        <div class="tab-content">
                            <div id="1" class="tab1 active">
                                <div class="flight-tab row">
                                    <div class="persent-one">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <input type="text" name="plan" class="textboxstyle" id="plan" placeholder="What are you planning?">
                                    </div>
                                    <div class="persent-one less-per">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <input type="number" min="5" name="guests" class="textboxstyle" id="guests" placeholder="Number of guests">
                                    </div>
                                    <div class="persent-one">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <input type="text" name="location" class="textboxstyle" id="location" placeholder="Location">
                                    </div>
                                    <div class="persent-one less-btn">
                                        <input type="Submit" name="submit" value="Search" class="btn btn-info cst-btn" id="srch">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
