<div class="container mt-80">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Venues List</h2>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let venues of Venues; let i = index">
                    <th scope="row">{{venues._id}}</th>
                    <td>{{venues.name}}</td>
                    <td>{{venues.price}}</td>
                    <td>{{venues.description}}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary mr-1" routerLink="/detail-venues/{{venues._id}}">Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="delete(venues._id, i)">Delete</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>
